# stockflow/.env.example

# === BASE DE DATOS ===
DATABASE_URL="postgresql://stockflow_user:password_segura@localhost:5432/stockflow?schema=public"

# === SEGURIDAD (NODE) ===
NODE_ENV="development"
PORT=4000
JWT_SECRET="clave_super_secreta_jwt_de_32_caracteres_min"
JWT_REFRESH_SECRET="clave_aun_mas_secreta_para_refresh_7d"

# === FRONTEND (Opcional si no usas proxy de Vite) ===
VITE_API_URL=http://localhost:4000/api/v1